body{
    background-image: url(https://c4.wallpaperflare.com/wallpaper/546/187/719/stunning-4k-stars-dark-space-milky-way-galaxy-wallpaper-preview.jpg);
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 50px;
    padding-bottom: 100px;
}
h1{
    padding: 25px;
    color: greenyellow;
    
}
.in{
    color: red;
}
.gameradio{
    color:red;
}
