body{
    background-color: black;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 50px;
    padding-bottom: 100px;
}

.home{
    background-image:url(https://cdn-useast1.kapwing.com/static/templates/devastated-wet-cat-meme-maker-full-4f71f324.webphttps://images.unsplash.com/photo-1517594422361-5eeb8ae275a9?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZmlyZXxlbnwwfHwwfHx8MA%3D%3D);
}
h1{
    padding: 25px;
    color: greenyellow;
    
}
.in{
    color: red;
}
.gameradio{
    color:red;
}
.class1{
    color: blueviolet;
}
.photo2{
    color: aqua;
    padding: 100px;
    margin:20;
    border-width: 10px;
    border-color: white;
}
#photo5{
    color:goldenrod;
}
@media(max-width: 500px){
   body{

    background-color: yellow;
   }

}

.boot
{
    margin: 20px;
    background-color: red;
    padding: 50px;
    border-color: aqua;
    border-width: 15px;
}